mixin news-slider()
	+b.news-slider&attributes(attributes)
		+e('h2').title
			| новини
		+e.slider-container.swiper-container
			+e.slider-wrapper.swiper-wrapper
				+e.slider-slide.swiper-slide
					+e.card
						+e.card-wrap
							+e.card-col
								+e('h3').card-title
									| Астрономiя для дiтей
								+e('p').card-text.
									Во все времена человечество интересовалось тайнами Вселенной. И по сей день, несмотря на столь развитую технологическую сферу, космос является настоящей загадкой для человека. Однако уже имеется целая масса интересных открытий и фактов о Вселенной, все они поражают своей необычайностью и даже, какой-то мистичностью.
								+e('a').card-link-more(href=jv0)
									| Подробнее >
							+e.card-col
								+e('img').card-img(src='assets/images/news1.png')
				+e.slider-slide.swiper-slide
					+e.card
						+e.card-wrap
							+e.card-col
								+e('h3').card-title
									| Астрономiя для дiтей
								+e('p').card-text.
									Во все времена человечество интересовалось тайнами Вселенной. И по сей день, несмотря на столь развитую технологическую сферу, космос является настоящей загадкой для человека. Однако уже имеется целая масса интересных открытий и фактов о Вселенной, все они поражают своей необычайностью и даже, какой-то мистичностью.
								+e('a').card-link-more(href=jv0)
									| Подробнее >
							+e.card-col
								+e('img').card-img(src='assets/images/news1.png')
				+e.slider-slide.swiper-slide
					+e.card
						+e.card-wrap
							+e.card-col
								+e('h3').card-title
									| Астрономiя для дiтей
								+e('p').card-text.
									Во все времена человечество интересовалось тайнами Вселенной. И по сей день, несмотря на столь развитую технологическую сферу, космос является настоящей загадкой для человека. Однако уже имеется целая масса интересных открытий и фактов о Вселенной, все они поражают своей необычайностью и даже, какой-то мистичностью.
								+e('a').card-link-more(href=jv0)
									| Подробнее >
							+e.card-col
								+e('img').card-img(src='assets/images/news1.png')
				+e.slider-slide.swiper-slide
					+e.card
						+e.card-wrap
							+e.card-col
								+e('h3').card-title
									| Астрономiя для дiтей
								+e('p').card-text.
									Во все времена человечество интересовалось тайнами Вселенной. И по сей день, несмотря на столь развитую технологическую сферу, космос является настоящей загадкой для человека. Однако уже имеется целая масса интересных открытий и фактов о Вселенной, все они поражают своей необычайностью и даже, какой-то мистичностью.
								+e('a').card-link-more(href=jv0)
									| Подробнее >
							+e.card-col
								+e('img').card-img(src='assets/images/news1.png')
				+e.slider-slide.swiper-slide
					+e.card
						+e.card-wrap
							+e.card-col
								+e('h3').card-title
									| Астрономiя для дiтей
								+e('p').card-text.
									Во все времена человечество интересовалось тайнами Вселенной. И по сей день, несмотря на столь развитую технологическую сферу, космос является настоящей загадкой для человека. Однако уже имеется целая масса интересных открытий и фактов о Вселенной, все они поражают своей необычайностью и даже, какой-то мистичностью.
								+e('a').card-link-more(href=jv0)
									| Подробнее >
							+e.card-col
								+e('img').card-img(src='assets/images/news1.png')
			+e.slider-btn-prev.swiper-button-prev
			+e.slider-btn-next.swiper-button-next
