mixin sessions()
	+b('section').sessions&attributes(attributes)
		+e('h2').title
			| НАЙБЛИЖЧІ
			+e('span').title-txt-bold
				| СЕАНСИ

		.container
			.row
				.col-xs-12.col-sm-6.col-md-3
					+e('a').card(href=jv0)
						+e.wrap-card-img
							+e('img').card-img(src='assets/images/card1.png')
						+e.card-title
							| Астрономія для дітей
				.col-xs-12.col-sm-6.col-md-3
					+e('a').card(href=jv0)
						+e.wrap-card-img
							+e('img').card-img(src='assets/images/card1.png')
						+e.card-title
							| Астрономія для дітей
				.col-xs-12.col-sm-6.col-md-3
					+e('a').card(href=jv0)
						+e.wrap-card-img
							+e('img').card-img(src='assets/images/card1.png')
						+e.card-title
							| Астрономія для дітей
				.col-xs-12.col-sm-6.col-md-3
					+e('a').card(href=jv0)
						+e.wrap-card-img
							+e('img').card-img(src='assets/images/card1.png')
						+e.card-title
							| Астрономія для дітей
			+e('a').link-all(href=jv0)
				| Всі шоу
				+e('img').link-all-icon(src='assets/images/circle-arrow.png')
